remote:
  host: "rserver2"
  user: "xingyu"
  path: "/home/xingyu/tmp/foo"
behaviour:
  uploadOnSave: true
  syncDownOnOpen: true
  forgetConsole: false
  autoHideConsole: true
  alwaysSyncAll: false
option:
  deleteFiles: false
  exclude: [
    ".sync-config.cson"
    "data"
    ".DS_Store"
    "target"
    "conf/smv-user-conf.props"
    "metastore_db"
    "dist"
    ".ivy2"
    ".m2"
  ]
